<!DOCTYPE html>
<html>

<head>
	<title>
		Dashboard page
	</title>
	<meta charset='utf-8' />

	<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
	<link rel="manifest" href="/fav/site.webmanifest">
	<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link href='css/normalize.css' rel='stylesheet' />

	<link href='css/dashboard.css' rel='stylesheet' />

	<meta name="viewport"
		content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>

	<div class="page page--dashboard">
		<aside class="page__aside aside vertical vertical--big">
			<div class="text aside__logo">
				Sidebar
			</div>
			<nav class="vertical vertical--small">
				<a href="#" class="nav-button nav-button--active hover click">
					<span class="icon nav-button__icon" style="background-image: url('svg/nav/home.svg')"></span>
					<span class="text text--light">Home</span>
				</a>

				<a href="#" class="nav-button hover click">
					<span class="icon nav-button__icon" style="background-image: url('svg/nav/orders.svg')"></span>
					<span class="text text--light">Orders</span>
				</a>

				<a href="#" class="nav-button hover click">
					<span class="icon nav-button__icon" style="background-image: url('svg/nav/products.svg')"></span>
					<span class="text text--light">Products</span>
				</a>
			</nav>
		</aside>
		<header class="header">
			<div class="layout header__content text--small">
				<div class="header__search relative">
					<input type="text" placeholder="Search" class="text field field__header">
					<span class="icon header__icon-search"
						style="background-image: url('/svg/header/search.svg')"></span>
					<span class="icon icon--header-settings icon--button icon--color-blue click"
						style="background-image: url('/svg/header/settings.svg')"></span>
				</div>
				<div class="header__icon">
					<span class="icon icon--header-one icon--button icon--color-yellow click"
						style="background-image: url('svg/header/one.svg')"></span>
					<span class="icon icon--header-two icon--button icon--color-bluelight click"
						style="background-image: url('/svg/header/two.svg')"></span>
					<span class="icon icon--header-three icon--button icon--color-yellow click"
						style="background-image: url('/svg/header/three.svg')"></span>
				</div>

			</div>
		</header>
		<main class="main">
			<div class="layout">
				<section class="box analytic__block">
					<div class="analytic analytic--double analytic--purple">
						<span class="icon analytic__button icon--button icon--color-purple click"
							style="background-image: url('/svg/analytic/earning.svg')"></span>

						<div class="relative vertical vertical--small">
							<div class="analytic__title text text--light">$500.00</div>
							<div class="text text--small text--lighter">Total earning</div>

							<span class="icon analytic__arrow"
								style="background-image: url('/svg/analytic/arrow.svg')"></span>
						</div>
					</div>

					<div class="analytic analytic--double analytic--blue">
						<span class="icon analytic__button icon--button icon--color-blue click"
							style="background-image: url('/svg/analytic/order.svg')"></span>

						<div class="relative vertical vertical--small">
							<div class="analytic__title text text--light">$961</div>
							<div class="text text--small text--lighter">Total Order</div>
						</div>
					</div>

					<div class="analytic_two analytic--bluetwo">
						<span class="icon analytic__button icon--button icon--color-blue click"
							style="background-image: url('/svg/analytic/blueincome.svg')"></span>

						<div class="vertical vertical--small">
							<div class="analytic__title text text--light text--small">$203k</div>
							<div class="text text--small text--lighter text--small">Total Income</div>
						</div>
					</div>
					<div class="analytic_two analytic--light">
						<span class="icon analytic__button icon--button icon--color-yellow click"
							style="background-image: url('/svg/analytic/yellowincome.svg')"></span>

						<div class="relative vertical vertical--small">
							<div class="analytic__title text text--dark text--small">$203k</div>
							<div class="text text--small text--gray text--small">Total Income</div>
						</div>
					</div>
				</section>


				<main class="main__double checkout__block">

					<div class="purchase">

						<div class="text text__tere">
							Purchase list
						</div>




						<div class="row  vertical--small text--small label__block text__tere">

							<div class="vertical vertical--small label__block">
								<span>ID437661</span>
								<span>AirOn ProCam</span>

								<span>May 11, 2023, 14:21</span>
								<span>7/8 USB Type-C</span>
							</div>
							<div class="vertical vertical--small label__block">
								<span> 132.32 EUR</span>
								<span>Customer</span>

								<span class="text--warning">Not paid</span>
								<span>robin@com.de</span>
							</div>

						</div>
						<div class="">

						</div>
						<hr>

						<div class="row  vertical--small text--small label__block">

							<div class="vertical vertical--small label__block">
								<p>ID437661</p>
								<p>PHILIPS Essential</p>
							</div>

							<div class="vertical vertical--small  label__block">
								<p>543 USD</p>
								<p>Customer</p>
							</div>
							<div class="vertical vertical--small label__block">
								<p>May 11, 2023, 14:21</p>
								<p>HD9200/90</p>
							</div>

							<div class="vertical vertical--small label__block">
								<p class="text--success">Pay by Stripe</p>
								<p>dima@com.ua</p>
							</div>

						</div>
					</div>











					<div class="payment">
						<div class="text text__tere">Payment</div>

						<div class="field__radio">
							<div class="form__check">
								<input name="type" type="radio" class="input__radio">
								<label class="text__radio text--dark">Credit card</label>
							</div>
							<div class="form__check">
								<input name="type" type="radio" class="input__radio">
								<label class="text__radio text--dark">Debit card</label>
							</div>
							<div class="form__check">
								<input name="type" type="radio" class="input__radio">
								<label class="text__radio text--dark">PayPal</label>
							</div>
						</div>


						<div class="relative click label__block text__tere">
							<div class="label">
								<label class="text--dark">Name on card</label>
								<input type="text" class="text field field__header">
							</div>
							<div class="label">
								<label class="text--dark">Credit card number</label>
								<input type="text" class="text field field__header">
							</div>
							<div class="label">
								<label class="text--dark">Expiration</label>
								<input type="text" class="text field field__header">
							</div>
							<div class="label">
								<label class="text--dark">CVV</label>
								<input type="text" class="text field field__header">
							</div>
						</div>

						<div class="label">
							<div class="relative click label__block text__tere">
								<div class="label">
									<label class="text--dark">Country</label>
									<select class="text field field__header">
										<option value="">Choose...</option>
										<option value="country1">Country 1</option>
										<option value="country2">Country 2</option>
									</select>
								</div>
								<div class="label">
									<label class="text--dark">State</label>
									<select class="text field field__header">
										<option value="">Choose...</option>
										<option value="state1">State 1</option>
										<option value="state2">State 2</option>

									</select>
								</div>
							</div>
						</div>




					</div>

				</main>

			</div>
		</main>


</body>

</html>