<main class="p-5">
	<div class="card p-5">
		<p id="test">
			Hello world! hkjksd gfhjkl;'v dfghjkl;cgjkhkhhklhlhlihgosyfjgbshjsgjvxnvuisyuvjk'
		</p>
		<p id="test">
			Hello world!
		</p>
		<p id="test">
			Hello world!
		</p>
		<span>Test</span>
	</div>
	<pre>
         fghjkl
    </pre>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

	<div style="padding: 50px 0 50px 100px; background: gray;">

		<span>Category cat</span>
		<span>Category dog</span>
		<span>Category fish</span>
		<span>Category fish</span>

		<span class="block">inline-block</span>
	</div>

</main>