/* :root {
  background: purple;
}

html {
  max-width: 720px;

  background: blue;
}

body {
  background: #fff;
}

* {
  color: red;
}

h1 {
  color: green;
}

h1 {
  color: rebeccapurple;
}

.box {
  background: gray;
}

h1.button {
  background: red;
  color: black
}

h1,
h2#user,
button.button#button {
  color: green;
}

#user,
.user {
  color: blue;
}

#bpx>p {
  color: paleturquoise;
}

footer>.user {
  color: palevioletred;
}

footer>h1 {
  color: palevioletred;
}

footer em.child,
footer div.child {
  color: rgb(0, 247, 111);
}

.p-top {
  background: black;
}

/* h1+p {
  background: black;
} */

/* h1~p,
H1~*>p {
  background: black;
} */
.card-dark {
  background: #ededed;
}

.item {
  color: green;
}

.item:last-of-type {
  color: blue;
}

.item:only-of-type {
  color: red;
}

.item:nth-of-type(3n) {
  color: rgb(0, 255, 174);
}

.item:not(p) {
  color: blueviolet;
}

p.empty {
  height: 10px;
  background: red;
}

.input-dark {
  background: #979797;
}

.input-dark[required] {
  background: #d72b2b;
}

.input-dark[type='number'] {
  background: #16c100;
}

.small-img[alt~='small'] {
  height: 500px;
}

a[rel~='external'] {
  color: green;
}

button[class|='btn'] {
  background: rgb(212, 212, 212);
}

a[class*='btn'] {
  background: rgb(234, 35, 35);
}

a[class$='btn'] {
  background: rgb(6, 3, 196);
}

.btn::first-letter {
  color: red;
}

.big-text::first-line {
  color: red;
}

.input-dark::placeholder {
  color: green;
  background: blue;
}

.big-text::before,
.big-text::after {
  content: '$$$';
  color: green;
}

#test:target {
  color: red;
}

.link.link {
  color: red;
}

.link:hover {
  color: green;
}

.link:hover {
  background: green;
}

.link:active {
  color: purple;
}

.card:active {
  background-color: purple;
}

input {
  background-color: gray;
}

input:focus {
  background-color: red;
}

.card:focus-within {
  background: red;
}

.card:lang(en)>span::after {
  content: ' (en)';
  background: gainsboro;
}

button {
  background-color: greenyellow;
}

button:enabled {
  background-color: #16c100;
}

button:disabled {
  background-color: aqua;
}

.inp:read-write {
  background-color: blue;
}


.inp:read-only {
  background-color: red;
}

input[type='checkbox']:checked~span {
  background: red;
}

.valid:valid {
  background: yellow;
}

.valid:invalid {
  background: goldenrod;
}

.valid:optional {
  background: green;
}

.valid:optional {
  background: green;
}

.number:out-of-range {
  background: red;
}

.number:in-range {
  background: green;
}

.number:invalid {
  background: yellow;
}

input:placeholder-shown~span {
  background: pink;
}