<footer>
	{{#with footer}}
	<div class="footer">
		<div class="footer_pages">
			{{#each pages}}
			<a class="btn_footer" href="{{path}}">{{name}}</a>
			{{/each}}
		</div>
		<div class="footer_text">{{copyright}}</div>
	</div>
	{{/with}}
</footer>